#change {
    color: #20cafe;
}

#text {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}

#calculator{
    color: #1a1b4d;
    font-size: 30px;
    font-weight: bolder;
}

#calculator:hover{
    color: black;
    cursor: pointer;
}


.btnClose {
    background-color: transparent;
    border: 0ch;
    border-color: transparent;
}

.obsidiamText {
    font-family: RalewayBold ,serif!important;
    font-size: 12px;
}

.obsidiamText2 {
    font-family: Helvetica, sans-serif !important;
    font-size: 12px;
}



