<body>
  

<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a id="navbar-calculator" href="#">
      <img src="../assets/img/obsidiam_logo_black.png" alt="" width="75%">
    </a>
    <app-calculator></app-calculator>
    <p>Not official obsidiam product, for <span class="changeText">test product</span></p>
  </div>
  
</nav>

<div class="container mt-3">
  <h1 class="obsidiamText">Obsidiam <span class="changeText">Project</span></h1>
  <h3 class="obsidiamText">Bitcoin calculator</h3>
  <h5 class="obsidiamText">By: Luis <span class="changeText">Armando</span> Rodríguez Araya</h5>
</div>

<div class="container">

  <img src="../assets/img/ObsidiamTest.png" alt="" width="70%">

</div>

</body>

<router-outlet></router-outlet>