/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Raleway";
    src: url('../src/assets/fonts/raleway/Raleway-Medium.ttf');
}

@font-face {
    font-family: "RalewayBold";
    src: url('../src/assets/fonts/raleway/Raleway-Bold.ttf');
}